@{
    ViewBag.Title = "Contact";
}
<div class="home-contact">
    <div>
        <p>
            Dear Recruiter, 
        </p>
        <p>
            I believe both my technical and my communication skills will be a solid asset to bring to your team.
            <br />
            Please have a look at 
            <a href="@Url.RouteUrl("Pages", new { title = "resume", id = 1 })">
                <span>my resume</span>
            </a> 
            and feel free to contact me by 
            <a href="mailto:ar.gahbiche@gmail.com" target="_blank"><span class="icon-mail2"></span></a>
            or connect with me on <a href="https://www.linkedin.com/in/agahbiche" target="_blank"><span class="icon-linkedin2"></span></a>.
        </p>
        <p>
            I look foraward to hearing from you.
        </p>
        <p>
            Yours sincerely,<br />
            Abderrafaa Gahbiche
        </p>
    </div>
</div>