@{
    ViewBag.Title = "Abderrafaa Gahbiche - Web developer";
}
<div class="home-intro">
    <div>
        <p>
            <h3>Hello everybody,</h3>
        </p>
        <p>
            I'm Abderrafaa Gahbiche, I'm a web developer.
        </p>
        <p>
            I work for a consultancy company where I help clients to build internet/intranet websites 
            with cutting edge technology.
        </p>
        <p>
            <span class="icon-embed2"></span>My stack is mostly
            <span class="skill">C#</span>,
            <span class="skill">ASP.NET</span>,
            <span class="skill">MS SharePoint</span>,
            <span class="skill">HTML5</span>,
            <span class="skill">jQuery</span>.
        </p>
        <p>
            <span class="icon-home3"></span>I live and work in Paris.
        </p>
        <p>
            <span class="icon-airplane"></span>I'm looking for new professional <strong>challenges abroad </strong><span class="icon-earth"></span>!
        </p>
        <p>
            Have a look at
            <a href="@Url.RouteUrl("Pages", new { title = "resume", id = 1 })">
                <span>my resume</span>
            </a>
            and please
            <a href="@Url.RouteUrl("Contact")">
                <span>let me know</span>
            </a>
            if you have exciting job opportunities.
        </p>
    </div>
</div>
