/*Forecast*/
 /*content meteo*/
 .bloc_right-column{
     width:90%;
     margin:auto;
 }

 .bloc_right-column .tabs {
    height: 45px;
    text-transform: uppercase;
	background:url(../images/bg_top_right_column.jpg) top no-repeat;
    padding: 0;
}

.bloc_right-column .tabs li {
	display: inline-block;
	float: left;
	line-height: 33px;
	background-image:url(../images/border_listPratique.png);
	background-repeat:no-repeat;
	background-position:top right;	
}

.bloc_right-column .tabs li.lastTabs{
	background-image:none;
}

*.bloc_right-column .tabs li, {
	display: inline;
}
.bloc_right-column .tabs li a, .bloc_right-column .tabs li a:active, .bloc_right-column .tabs li a:visited, .tabs li a:hover {
	display: block;
	color: #a2a2a2;
	font-weight:700;
	text-decoration:none !important;
}

.bloc_right-column .tabs li.active a, 
.bloc_right-column .tabs li.active a:active, 
.bloc_right-column .tabs li.active a:visited, 
.tabs li.active a:hover {
	color: #4f4f4f;
}

.bloc_right-column .tab_container {
	padding:0 10px;
	height: 30em;
	*height: 230px;
	background-color: #f6f6f6;
}

.tab_contentWeather .weather-ico{
    margin: 0 auto;
    height: 150px;
    width: 180px;
    background-image:url(images/sprite_meteo.png);
}
.tab_contentWeather .weather-ico.sprite-01_skyIsClear {
    background-position: 0 0;
}
.tab_contentWeather .weather-ico.sprite-01_skyIsClear-N {
    background-position: 0 -150px;
}
.tab_contentWeather .weather-ico.sprite-02_fewClouds {
    background-position: 0 -300px;
}
.tab_contentWeather .weather-ico.sprite-02_fewClouds-N {
    background-position: 0 -450px;
}
.tab_contentWeather .weather-ico.sprite-03_scatteredClouds {
    background-position: 0 -600px;
}
.tab_contentWeather .weather-ico.sprite-03_scatteredClouds-N {
    background-position: 0 -750px;
}
.tab_contentWeather .weather-ico.sprite-04_brokenClouds{
    background-position: 0 -900px;
}
.weather-ico.sprite-04_brokenClouds-N{
    background-position: 0 -1050px;
}
.tab_contentWeather .weather-ico.sprite-05_showerRain{
    background-position: 0 -1200px;
}
.tab_contentWeather .weather-ico.sprite-05_showerRain-N{
    background-position: 0 -1350px;
}
.tab_contentWeather .weather-ico.sprite-06_rain{
    background-position: 0 -1500px;
}
.tab_contentWeather .weather-ico.sprite-06_rain-N{
    background-position: 0 -1650px;
}
.tab_contentWeather .weather-ico.sprite-07_thunderstorm{
    background-position: 0 -1800px;
}
.tab_contentWeather .weather-ico.sprite-07_thunderstorm-N{
    background-position: 0 -1950px;
}
.tab_contentWeather .weather-ico.sprite-08_snow{
    background-position: 0 -2100px;
}
.tab_contentWeather .weather-ico.sprite-08_snow-N{
    background-position: 0 -2250px;
}
.tab_contentWeather .weather-ico.sprite-09_mist{
    background-position: 0 -2400px;
}
.tab_contentWeather .weather-ico.sprite-09_mist-N{
    background-position: 0 -2550px;
}
.bloc_right-column .weather-infosGlobal{
    position:relative;
}
.tab_contentWeather .weather-infosLeft{
    width:60%;
}
.tab_contentWeather .weather-infosLeft span{
    display:block;
    color:#a3a3a3;
}
.tab_contentWeather .weatherDate{
    font-size:13px;
    font-weight:700;
}
.tab_contentWeather .weatherCity{
    font-size:24px;
    font-weight:700;
    text-transform:uppercase;
}
.tab_contentWeather .weatherInfo{
    font-size:15px;
}
.tab_contentWeather .weather-infosRight{
    position: absolute;
   bottom: 0;
    right: 10px;
    line-height: 38px;
    font-size:45px;
    color:#a3a3a3;
    letter-spacing: -3px;
}
