<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.grafaa.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>50.97.55.85</MSDeployServiceURL>
    <DeployIisAppPath>grafaa.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>asphost170\grafaa1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PersonalSite.Models.ApplicationDbContext, PersonalSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GrafaaEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=50.97.55.84,780;Initial Catalog=grafaa1_database;Persist Security Info=True;User ID=grafaa1_db;Password=Rafaa1gah" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.GrafaaEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GrafaaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/GrafaaModel.csdl|res://*/GrafaaModel.ssdl|res://*/GrafaaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=50.97.55.84,780;Initial Catalog=grafaa1_database;Persist Security Info=True;User ID=grafaa1_db;Password=Rafaa1gah"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>